{% extends "base.html" %} {% block title%}Input Domain{% endblock %} {% block
content %}
<main id="main">
  <center>
    <section class="inner-page">
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <h2>Your domain</h2>
          <div class="col-lg-4 mt-5 mt-lg-0">
            <form action="input-gender" method="post">
              <div class="row m-2">
                <div class="form-group">
                  <select
                    class="form-select"
                    name="domain"
                    id="domain"
                    required
                  >
                    <option value="agriculture">Agriculture</option>
                    <option value="food and natural resources">
                      Food and Natural Resources
                    </option>
                    <option value="architecture and construction">
                      Architecture and Construction
                    </option>
                    <option value="arts">Arts</option>
                    <option value="audio and video technology">
                      Audio/Video Technology
                    </option>
                    <option value="communication">Communication</option>
                    <option value="business and finance">
                      Business and Finance
                    </option>
                    <option value="education and training">
                      Education and Training
                    </option>
                    <option value="government and public administration">
                      Government and Public Administration
                    </option>
                    <option value="medicine">Medicine</option>
                    <option value="software engineering">
                      Software Engineering
                    </option>
                    <option value="law">Law</option>
                    <option value="public safety and security">
                      Public Safety and Security
                    </option>
                    <option value="marketing">Marketing</option>
                    <option value="science">Science</option>
                    <option value="technology">Technology</option>
                    <option value="engineering and math">
                      Engineering and Math
                    </option>
                    <option value="animals">Animals</option>
                    <option value="transportation">Transportation</option>
                    <option value="accessories and fashion">
                      Accessories and Fashion
                    </option>
                    <option value="games and entertainment">
                      Games and Entertainment
                    </option>
                  </select>
                </div>
              </div>
              <button class="m-2 btn btn-warning" type="submit">Next</button>
            </form>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </section>
  </center>
</main>
<!-- End #main -->

{% endblock %}
